#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255,255,255,0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px;
}
#login-dp .social-buttons a {
  width: 50%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
#login-dp input:invalid {
  border: 1px solid #f00;
}
#logout-dp {
  min-width: 250px;
  padding: 14px 14px 0px 14px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
  #logout-dp {
    background-color: inherit;
    color: #fff;
  }
  #logout-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
.toast-top-right {
  top: 70px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.msg-block {
  margin-top: 5px;
}
.msg-error {
  color: #f00;
  font-size: 14px;
}
