#login-dp
  min-width 250px
  padding 14px 14px 0
  overflow hidden
  background-color rgba(255,255,255,.8)
  .help-block
    font-size 12px
  .bottom
    background-color rgba(255,255,255,.8)
    border-top 1px solid #ddd
    clear both
    padding 14px
  .social-buttons
    margin 12px
    a
      width 50%
  .form-group
    margin-bottom 10px

#logout-dp
  min-width 250px
  padding: 14px 14px 0px 14px
  overflow hidden
  background-color rgba(255,255,255,.8)

.btn-fb
  color #fff
  background-color #3b5998
  &:hover
    color #fff
    background-color #496ebc

.btn-tw
  color #fff
  background-color #55acee
  &:hover
    color #fff
    background-color #59b5fa

@media(max-width:768px)
  #login-dp
    background-color inherit
    color #fff
    .bottom
      background-color inherit
      border-top 0 none
  #logout-dp
    background-color inherit
    color #fff
    .bottom
      background-color inherit
      border-top 0 none

.toast-top-right
  top 70px
