#bs-example-navbar-collapse-1.collapse.navbar-collapse(ng-controller='loginCtrl')
    ul.nav.navbar-nav.navbar-right(ng-hide='identity.isAuthenticated()')
        li
            p.navbar-text Already have an account?
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
                b Login
                span.caret
            ul#login-dp.dropdown-menu
                li
                    .row
                        .col-md-12
                            | Please sign in
                            form#login-nav.form
                                .form-group
                                    label.sr-only(for='email') Username
                                    input#email.form-control(type='text', ng-model="email" placeholder='Email', required='',)
                                .form-group
                                    label.sr-only(for='password') Password
                                    input#password.form-control(type='password', ng-model="password" placeholder='Password')
                                    .help-block.text-right
                                        a(href='') Forget the password ?
                                .form-group
                                    button.btn.btn-primary.btn-block(ng-click="signin(email, password)" type='submit') Sign in
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        |  keep me logged-in
                        .bottom.text-center
                            | New here ?
                            a(href='/signup')
                                b  Join Us
    ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
                b {{identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
                span.caret
            ul#logout-dp.dropdown-menu
                li(ng-show='identity.currentUser.isAdmin()')
                    .row
                        .col-md-12
                            .form-group
                                a.btn.btn-default.btn-block(href='/admin/users' role="button") Admin
                li
                    .row
                        .col-md-12
                            .form-group
                                a.btn.btn-default.btn-block(href='/profile' role="button") Profile

                li
                    .row
                        .col-md-12
                            .form-group
                                button.btn.btn-danger.btn-block(ng-click="signout()" type='submit') Sign out
