doctype
html
    head
        base(href="/")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/toastr/toastr.css")
        link(rel="stylesheet" href="/css/style.css")
    body(ng-app='app')
        block main-content
        include scripts
