doctype
html
    head
        base(href="/")
        title Mean Courses
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/vendor/toastr/toastr.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

    body(ng-app='app')
        include currentUser
        block main-content
        include scripts
