.container
    .jumbotron
        h1 Mean Courses
        p Welcome to the best courses' site of the world

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")